<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31079221080-lklh2hs69gesi5k76jn78mnn2go5n5eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31079221080-lklh2hs69gesi5k76jn78mnn2go5n5eh</string>
	<key>API_KEY</key>
	<string>AIzaSyD_k__r4_w1qkSyIg60vjZEM7gf0L8Dauo</string>
	<key>GCM_SENDER_ID</key>
	<string>31079221080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leapaheadstudios.calendaridea</string>
	<key>PROJECT_ID</key>
	<string>calendaridea-faefe</string>
	<key>STORAGE_BUCKET</key>
	<string>calendaridea-faefe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31079221080:ios:a30a9c372fae77b162472d</string>
</dict>
</plist>